.loading{
    position: fixed;
    top: 30%;
    bottom: 0;
    left: 45%;
    right: 0;
    z-index: 1000;
}
.non-loading{
    display: none;
}

.top{
    margin-top: 10px;
    border: 1px solid #ddd;
    height: 60px;
    .title{
        float: left;
        h4{
            padding-left: 20px;
        }
    }
    .btn-action{
        float: right;
        padding: 10px 30px 0 0;
        .total-element{
            float: left;
            margin-right: 15px;
            padding-top: 8px;
        }
        .page-size{
            margin: 3px 15px 0 0;
            float: left;
            select{
                height: 28px;
                min-width: 60px;
            }
        }
       
        button{
            width: 100px;
            height: 33px;
            font-size: 14px;
            outline: none;
            font-weight: 500;
            border-radius: 20px;
            background-color: #26a69a;
            color: #fff;
            opacity: 1%;
            margin: 0 4px;
            border-color: #26a69a;
            border: none;
            cursor: pointer;
            &:hover{
                background-color: #0f5a52;
            }
        }
    }
}
.main{
    margin-top: 5px;
    .main-table{
        margin: auto;
        min-height: 200px;
        max-height: 600px;
        overflow: auto;
        padding: 20px;
        overflow-x: scroll;
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            .table-header{
                height: 40px;
            }
            td,th {
                border: 1px solid rgb(121, 113, 113);
                text-align: center;
            } 
            th{
                background-color: rgb(156, 146, 146);
            }
            tr:nth-child(even) {
                background-color: #fff;
            }
            td button{
                background-color: Transparent;
                background-repeat:no-repeat;
                max-width: 30px;
                border: none;
                cursor:pointer;
                overflow: hidden;
                outline:none;
                height: 30px;
                position: relative;
                width: 100%;
                text-align: left;
                padding-bottom: 0px;
                margin-bottom: 10px;
                margin-right: 5px;
            }
            .btn-edit{
                color: #23661aea;
                &:hover{
                    .icon-edit{
                        color: #3a3d3aea;
                    }
                }
            }
            .btn-delete{
                color: red;
                &:hover{
                    .icon-edit{
                        color: #3a3d3aea;
                    }
                }
            }
            td img{
                max-width: 100px;
            }
            .stt{
                min-width: 30px;
            }
            .name{
                min-width: 300px;
            }
            .scope{
                min-width: 200px;
            }
            .type{
                min-width: 200px;
            }
            .minimum-money{
                min-width: 200px;
            }
            .minimum-quantity{
                min-width: 200px;
            }
            .donated-product{
                min-width: 200px;
            }
            .reduced-percent{
                min-width: 200px;
            }
            .applied-product{
                min-width: 200px;
            }
            .image-cover{
                min-width: 200px;
            }
            .started-date{
                min-width: 150px;
            }
            .ended-date{
                min-width: 150px;
            }
            .status{
                min-width: 200px;
            }
            .description{
                min-width: 300px;
            }
            .action{
                min-width: 200px;
            }
        }
    }
    .pagination-div {
        padding-right: 30px;
        float: right;
        a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }
        a.active {
            background-color: #4CAF50;
            color: white;
            border-radius: 5px;
        }
        
        a:hover:not(.active) {
            background-color: #ddd;
            border-radius: 5px;
        }

    }
}