<div class="emp-component">
  <div [ngClass]="{'loading': isLoading, 'non-loading': !isLoading}">
    <img src="../../../manager-system/store-app/assets/loading-img.gif" />
  </div>
  <div class="top">
    <div class="title">
      <h4>Danh sách Khuyến Mại</h4>
    </div>
    <div class="btn-action">
      <div class="total-element">
        <span>Total :</span> {{totalRecord}}
      </div>
      <div class="page-size">
        <span>View :</span>
        <select (change)="onChangePageSize($event.target.value)">
          <option label="10" value="10" selected="selected">10</option>
          <option label="20" value="20">20</option>
          <option label="30" value="30">30</option>
          <option label="50" value="50">50</option>
        </select>
      </div>

      <button (click)="openFormCreationPromotion()">create</button>
    </div>
  </div>
  <div class="main">
    <div class="main-table">
      <table>
        <tr>
          <th class="stt">STT</th>
          <th class="name">Tên</th>
          <th class="image-cover">Ảnh Mô Tả</th>
          <th class="scope">Phạm Vi Áp Dụng</th>
          <th class="type">Loại</th>
          <th class="minimum-money">Tổng Tiền Áp dụng (>=)</th>
          <th class="minimum-quantity">Số Lượng Mua Áp Dụng (>=)</th>
          <th class="donated-product">Sản Phẩm Tặng Kèm</th>
          <th class="reduced-percent">Phần Trăm Giảm</th>
          <th class="applied-product">Sản Phẩm Áp Dụng</th>
          <th class="started-date">Ngày Bắt Đầu</th>
          <th class="ended-date">Ngày Kết Thúc</th>
          <th class="status">Trạng Thái</th>
          <th class="description">Mô tả</th>
          <th class="action">Action</th>
        </tr>
        <tr *ngFor="let promotion of arrPromotion; let i = index">
          <td>{{pageNum * pageSize + i + 1}}</td>
          <td>{{promotion.name}}</td>
          <td>
            <img [src]="promotion.imageCover ? promotion.imageCover : ''" />
          </td>
          <td>{{promotion.scope == 'ALL_PRODUCT' ? 'Tất Cả' : 'Theo Sản Phẩm'}}</td>
          <td>{{promotion.type == 'TOTAL_MONEY' ? 'Tổng Tiền' : 'Số Lượng'}}</td>
          <td>{{promotion.minimumMoney}}</td>
          <td>{{promotion.minimumQuantity}}</td>
          <td>
            <tr *ngFor="let donatedProduct of promotion.donatedProduct; let i = index">
              <td style="border: none"> - {{donatedProduct.name}}</td>
            </tr>
          </td>
          <td>{{promotion.reducedPercent}}</td>
          <td>
            <tr *ngFor="let appliedProduct of promotion.appliedProduct; let i = index">
              <td style="border: none"> - {{appliedProduct.name}}</td>
            </tr>
          </td>
          <td>{{promotion.startedDate | date:'dd/MM/yyyy'}}</td>
          <td>{{promotion.endedDate | date:'dd/MM/yyyy'}}</td>
          <td>{{promotion.status}}</td>
          <td>{{promotion.description}}</td>
          <td>
            <button matTooltip="View & Edit" matTooltipPosition="below" class="btn-edit" (click)="actionOpenFormEditPromotion(promotion._id)">
              <mat-icon class="icon-edit mat-icon material-icons">edit</mat-icon>
            </button>
            <button matTooltip="Xóa" matTooltipPosition="below" class="btn-delete" (click)="deletePromotion(promotion._id)">
              <mat-icon class="icon-edit mat-icon material-icons">delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="pagination-div">
      <a href="javascript:void(0);" (click)="preIndexPageClicked()">&laquo;</a>
      <a href="javascript:void(0);" (click)="IndexPageClicked(index)" [ngClass]="{'active': arrSelectedIndexPage[index]}" *ngFor="let index of arrIndexPage">{{index + 1}}</a>
      <a href="javascript:void(0);" (click)="lastIndexPageClicked()">&raquo;</a>
    </div>
  </div>
</div>