<div class="emp-component">
  <div [ngClass]="{'loading': isLoading, 'non-loading': !isLoading}">
    <img src="../../../manager-system/store-app/assets/loading-img.gif" />
  </div>
  <div class="top">
    <div class="title">
      <h4>Danh sách Loại Sản phẩm</h4>
    </div>
    <div class="btn-action">
      <div class="total-element">
        <span>Total :</span> {{totalRecord}}
      </div>
      <div class="page-size">
        <span>View :</span>
        <select (change)="onChangePageSize($event.target.value)">
          <option label="10" value="10" selected="selected">10</option>
          <option label="20" value="20">20</option>
          <option label="30" value="30">30</option>
          <option label="50" value="50">50</option>
        </select>
      </div>

      <button (click)="openFormCreationProduct()">create</button>
    </div>
  </div>
  <div class="main">
    <div class="main-table">
      <table>
        <tr>
          <th class="stt">STT</th>
          <th class="name">Tên Sản Phẩm</th>
          <th class="category">Loại Sản Phẩm</th>
          <th class="orginal-price">Giá Bán</th>
          <th class="sale-price">Giá Khuyến Mại</th>
          <th class="status">Trạng Thái</th>
          <th class="image-cover">Ảnh Đại Diện</th>
          <!-- <th class="color-image">Màu Sản Phẩm</th> -->
          <th class="material">Chất Liệu</th>
          <th class="provider">Nhà Cung Cấp</th>
          <th class="madeIn">Nơi Sản Xuất</th>
          <th class="description">Mô Tả</th>
          <th class="action">Action</th>
        </tr>
        <tr *ngFor="let product of arrProduct; let i = index">
          <td>{{pageSize * pageNum + i + 1}}</td>
          <td>{{product.name}}</td>
          <td>{{product.category ? product.category.name : '-----'}}</td>
          <td>{{product.originalPrice}}</td>
          <td>{{product.salePrice}}</td>
          <td>{{product.status}}</td>
          <td>
            <img [src]="product.imageCover && product.imageCover[0] ? product.imageCover[0] : ''" />
          </td>
          <!-- <td>Trắng - Xanh - Đen</td> -->
          <td>{{product.material}}</td>
          <td>{{product.provider}}</td>
          <td>{{product.madeIn}}</td>
          <td>{{product.description}}</td>
          <td>
            <button matTooltip="Chỉnh sửa" matTooltipPosition="below" class="btn-edit" (click)="actionOpenFormEditProduct(product._id)">
              <mat-icon class="icon-edit mat-icon material-icons">edit</mat-icon>
            </button>
            <button matTooltip="Xóa" matTooltipPosition="below" class="btn-delete" (click)="deleteProduct(product._id)">
              <mat-icon class="icon-edit mat-icon material-icons">delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="pagination-div">
      <a href="javascript:void(0);" (click)="preIndexPageClicked()">&laquo;</a>
      <a href="javascript:void(0);" (click)="IndexPageClicked(index)" [ngClass]="{'active': arrSelectedIndexPage[index]}" *ngFor="let index of arrIndexPage">{{index + 1}}</a>
      <a href="javascript:void(0);" (click)="lastIndexPageClicked()">&raquo;</a>
    </div>
  </div>
</div>