<div class="emp-component">
  <div class="top">
    <div class="title">
      <h4>Danh sách Banner</h4>
    </div>
    <div class="btn-action">
      <div class="total-element">
        <span>Total :</span> {{totalRecord}}
      </div>
      <button (click)="openFormCreationBannerImg()">create</button>
    </div>
  </div>
  <div class="main">
    <div class="main-table">
      <table>
        <tr>
          <th class="stt">STT</th>
          <th class="imageCover">Ảnh Đại Diện</th>
          <th class="status">Trạng Thái</th>
          <th class="action">Action</th>
        </tr>
        <tr *ngFor="let banner of arrBanner; let i = index">
          <td>{{i + 1}}</td>
          <td>
            <img [src]="host+banner.path">
          </td>
          <td>{{banner.status}}</td>
          <td>
            <button matTooltip="Chỉnh sửa" matTooltipPosition="below" class="btn-edit">
              <mat-icon class="icon-edit mat-icon material-icons">edit</mat-icon>
            </button>
            <button matTooltip="delete" matTooltipPosition="below" class="btn-view-detail">
              <mat-icon class="icon-view-detail mat-icon material-icons">clear</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>