<div class="emp-component">
  <div class="top">
    <div class="title">
      <h4>Danh Mục</h4>
    </div>
    <div class="btn-action">
      <div class="total-element">
        <span>Total :</span> {{totalRecord}}
      </div>
      <div class="page-size">
        <span>View :</span>
        <select (change)="onChangePageSize($event.target.value)">
          <option label="10" value="10" selected="selected">10</option>
          <option label="20" value="20">20</option>
          <option label="30" value="30">30</option>
          <option label="50" value="50">50</option>
        </select>
      </div>

      <button (click)="openFormCreationCategory()">create</button>
      <button>Delete</button>
      <button>Clear Filter</button>
    </div>
  </div>
  <div class="main">
    <div class="main-table">
      <table>
        <tr class="table-header">
          <th class="stt">STT</th>
          <th class="name">Tên</th>
          <th class="image-cover">Ảnh Đại Diện</th>
          <th class="status">Trạng thái</th>
          <th class="description">Mô tả</th>
          <th class="action">Action</th>
        </tr>
        <tr *ngFor="let category of arrCategory; let i = index">
          <td>{{pageNum * pageSize + i + 1}}</td>
          <td>{{category.name}}</td>
          <td>
            <img [src]="category.imageCover" />
          </td>
          <td>{{category.status}}</td>
          <td>{{category.description}}</td>
          <td>
            <button matTooltip="View & Edit" matTooltipPosition="below" class="btn-edit" (click)="openEditForm(category._id)">
              <mat-icon class="icon-edit mat-icon material-icons">edit</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="pagination-div">
      <a href="javascript:void(0);" (click)="preIndexPageClicked()">&laquo;</a>
      <a href="javascript:void(0);" (click)="IndexPageClicked(index)" [ngClass]="{'active': arrSelectedIndexPage[index]}" *ngFor="let index of arrIndexPage">{{index + 1}}</a>
      <a href="javascript:void(0);" (click)="lastIndexPageClicked()">&raquo;</a>
    </div>
  </div>
</div>