<div class="emp-component">
  <div class="top">
    <div class="title">
      <h4>Tạo Mới Loại Sản Phẩm</h4>
    </div>
  </div>
  <div class="main">
    <form [formGroup]="fgCategory" #f="ngForm">
      <div class="content-input">
        <table>
          <tr>
            <td>
              <label>Tên Danh Mục</label>
            </td>
            <td>
              <mat-form-field hintLabel="[4-50] characters">
                <input matInput type="text" formControlName="name">
                <mat-error *ngIf="fgCategory.controls.name.invalid">{{getErrorFieldName()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <label>Mô tả</label>
            </td>
            <td>
              <mat-form-field hintLabel="[0 - 500] characters">
                <textarea matInput type="text" formControlName="description"></textarea>
                <mat-error *ngIf="fgCategory.controls.description.invalid">{{getErrorFieldDescription()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <button mat-menu-item matTooltip="Upload Ảnh đại diện" matTooltipPosition="below" (click)="imgFileInput.click()">
                <mat-icon style="color: green">image</mat-icon>
              </button>
              <input hidden accept="image/*" type="file" #imgFileInput (change)="fileChangeEvent($event)" name="file">
            </td>
            <td>
              <div class="upload-img" style="position: relative">
                <img *ngIf="imageCover" [src]="imageCover" />
                <div class="remove" *ngIf="imageCover">
                  <button matTooltip="Xóa ảnh" matTooltipPosition="below" (click)="removeImage()">
                    <mat-icon>clear</mat-icon>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="user-action">
        <button (click)="insertNewCategory()">ADD</button>
        <button>RESET</button>
      </div>
    </form>
  </div>
</div>