<div class="emp-component">
  <div [ngClass]="{'loading': isLoading, 'non-loading': !isLoading}">
    <img src="../../../manager-system/store-app/assets/loading-img.gif" />
  </div>
  <div class="top">
    <div class="title">
      <h4>Xem & Chỉnh Sửa Sản Phẩm</h4>
    </div>
  </div>
  <div class="main">
    <form [formGroup]="fgProduct" #f="ngForm">
      <div class="content-input">
        <table>
          <tr>
            <td>
              <label>Tên Sản Phẩm</label>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="" formControlName="name">
                <mat-error *ngIf="fgProduct.controls.name.invalid">{{getErrorFieldName()}}</mat-error>
              </mat-form-field>
            </td>
            <td>
              <label>Loại Sản Phẩm</label>
            </td>
            <td>
              <mat-form-field>
                <mat-select [(value)]="product.category" [compareWith]="compareObjects" formControlName="category">
                  <mat-option *ngFor="let category of arrCategory; let i = index" [value]="category">
                    {{category.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <label>Giá Gốc</label>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="" formControlName="originalPrice" type="number">
                <mat-error *ngIf="fgProduct.controls.originalPrice.invalid">{{getErrorFieldOriginalPrice()}}</mat-error>
              </mat-form-field>
            </td>
            <td>
              <label>Giá Khuyến Mại</label>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="" formControlName="salePrice" type="number">
                <mat-error *ngIf="fgProduct.controls.salePrice.invalid">{{getErrorFieldSalePrice()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <label>Chất Liệu</label>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="" formControlName="material">
                <mat-error *ngIf="fgProduct.controls.material.invalid">{{getErrorFieldMaterial()}}</mat-error>
              </mat-form-field>
            </td>
            <td>
              <label>Nhà Cung Cấp</label>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="" formControlName="provider">
                <mat-error *ngIf="fgProduct.controls.provider.invalid">{{getErrorFieldProvider()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <label>Nơi Sản Xuất</label>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="" formControlName="madeIn">
                <mat-error *ngIf="fgProduct.controls.madeIn.invalid">{{getErrorFieldMadeIn()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <label>Mô Tả Ngắn</label>
            </td>
            <td colspan="2">
              <mat-form-field hintLabel="Max 500 characters" style="width: 600px">
                <textarea matInput type="text" formControlName="description"></textarea>
                <mat-error *ngIf="fgProduct.controls.description.invalid">{{getErrorFieldDescription()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-icon style="color: green; cursor: pointer;" matTooltip="Upload Ảnh (max = 6)" (click)="imgFileInput.click()">image</mat-icon>
              <input hidden accept="image/*" type="file" #imgFileInput (change)="fileChangeEvent($event)" name="file" multiple>
            </td>
            <td colspan="3">
              <div *ngFor="let imageCover of arrImage; let i = index" class="upload-img" style="position: relative; margin-left: 5px">
                <img *ngIf="imageCover" [src]="imageCover" />
                <div class="remove" *ngIf="imageCover">
                  <mat-icon style="color: red" matTooltip="Xóa ảnh" matTooltipPosition="below" (click)="removeImage(i)">clear</mat-icon>
                </div>
              </div>
            </td>
          </tr>
          <!-- <tr *ngFor="let itemrow of fgProduct.controls.colorImage.controls; let i=index" [formGroupName]="i">
                  <td>
                    <label>Color</label>
                  </td>
                  <td>
                    <mat-form-field>
                      <input matInput placeholder="" formControlName="color">
                    </mat-form-field>
                  </td>
                  <td>
                    <button mat-menu-item matTooltip="Thêm màu mới" matTooltipPosition="below" (click)="addNewRow()">
                      <mat-icon style="color: green">add_box</mat-icon>
                    </button>
                    <button *ngIf="fgProduct.controls.colorImage.controls.length > 1" mat-menu-item matTooltip="Delete" matTooltipPosition="below"
                      (click)="deleteRow()">
                      <mat-icon style="color: green">remove</mat-icon>
                    </button>
                  </td>
                </tr> -->
        </table>
        <!-- <div formArrayName="colorImage">
                <h4>Màu - Ảnh</h4>
                <div *ngFor="let itemrow of fgProduct.controls.colorImage.controls; let i=index" [formGroupName]="i">
                  <div class="form-group">
                    <label>Color</label>
                    <mat-form-field>
                      <input matInput placeholder="" formControlName="color">
                    </mat-form-field>
                  </div>
                  <button *ngIf="fgProduct.controls.colorImage.controls.length > 1" mat-menu-item matTooltip="Delete" matTooltipPosition="below"
                    (click)="deleteRow()">
                    <mat-icon style="color: green">remove</mat-icon>
                  </button>
                </div>
              </div>
              <button mat-menu-item matTooltip="Thêm màu mới" matTooltipPosition="below" (click)="addNewRow()">
                <mat-icon style="color: green">add_box</mat-icon>
              </button> -->

      </div>
      <div class="user-action">
        <button (click)="updateProduct()">Lưu Thông Tin</button>
      </div>
    </form>
  </div>
</div>