<div class="category-component">
  <div [ngClass]="{'loading': isLoading, 'non-loading': !isLoading}">
    <img src="../../../manager-system/store-app/assets/loading-img.gif" />
  </div>
  <div class="top">
    <div class="title">
      <h4>Upload Banner</h4>
    </div>
  </div>
  <div class="main">
    <form>
      <div class="content-input">
        <table>
          <tr>
            <td>
              <mat-icon style="color: green; cursor: pointer;" matTooltip="Upload Ảnh đại diện" matTooltipPosition="below" (click)="imgFileInput.click()">image</mat-icon>
              <input hidden accept="image/*" type="file" #imgFileInput (change)="fileChangeEvent($event)" name="file">
            </td>
            <td>
              <div class="upload-img">
                <img *ngIf="imageCover" [src]="imageCover" />
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="user-action">
        <button (click)="uploadBanner()" class="btn-upload">Upload Banner</button>
        <button (click)="removeImage()" class="btn-remove">Remove Image</button>
      </div>
    </form>
  </div>
</div>