<div class="emp-component">
  <div class="top">
    <div class="title">
      <h4>Danh sách Nhân viên</h4>
    </div>
    <div class="btn-action">
      <div class="total-element">
        <span>Total :</span> {{totalRecord}}
      </div>
      <button (click)="openFormCreateionEmp()">create</button>
    </div>
  </div>
  <div class="main">
    <div class="main-table">
      <table>
        <tr>
          <th class="stt">STT</th>
          <th class="fullname">Fullname</th>
          <th class="gen">Số chứng minh</th>
          <th class="email">Email</th>
          <th class="username">Tài Khoản</th>
          <th class="role">Vị trí(Role)</th>
          <th class="phone-number">Số Điện Thoại</th>
          <th class="facebook-page">Link Facabook</th>
          <th class="salary">Lương</th>
          <th class="date-working">Ngày làm việc</th>
          <th class="status">Trạng thái</th>
          <th class="action">Action</th>
        </tr>
        <tr *ngFor="let employee of arrEmp; let i = index">
          <td>{{i + 1}}</td>
          <td>{{employee.fullname}}</td>
          <td>{{employee.gen}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.username}}</td>
          <td>
            <p> {{employee.role ? employee.role.name : '-'}} </p>
          </td>
          <td>{{employee.phoneNumber}}</td>
          <td>{{employee.facebookPage}}</td>
          <td>
            <p>{{employee.salary.baseSalary }}</p>
          </td>
          <td>{{employee.dateWorking }}</td>
          <td>ACTIVE</td>
          <td>
            <button matTooltip="Xem chi tiết" matTooltipPosition="below" class="btn-view-detail">
              <mat-icon class="icon-view-detail mat-icon material-icons">visibility</mat-icon>
            </button>
            <button matTooltip="Chỉnh sửa" matTooltipPosition="below" class="btn-edit">
              <mat-icon class="icon-edit mat-icon material-icons">edit</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>