<div class="emp-component">
  <div [ngClass]="{'loading': isLoading, 'non-loading': !isLoading}">
    <img src="../../../manager-system/store-app/assets/loading-img.gif" />
  </div>
  <div class="top">
    <div class="title">
      <h4>Tạo Mới Khuyến Mại</h4>
    </div>
  </div>
  <div class="main">
    <form class="promotion-form" [formGroup]="fgPromotion" #f="ngForm">
      <div class="main-table">

        <table>
          <tr>
            <td>
              <label>Tên Khuyến Mại (*)</label>
            </td>
            <td>
              <mat-form-field hintLabel="[4 - 50] characters">
                <input matInput placeholder="" formControlName="name">
                <mat-error *ngIf="fgPromotion.controls.name.invalid">{{getErrorFieldName()}}</mat-error>
              </mat-form-field>
            </td>

            <td>
              <label>Phạm Vi Áp Dụng (*)</label>
            </td>
            <td>
              <mat-form-field>
                <mat-select [(value)]="arrScope && arrScope[0] ? arrScope[0] : defaultSelectd" formControlName="scope" (selectionChange)="actionSelectedScope($event.value)">
                  <mat-option *ngFor="let scope of arrScope; let i = index" [value]="scope">
                    {{scope == 'ALL_PRODUCT' ? 'Tất Cả Sản Phẩm' : 'Sản Phẩm Tùy Chọn'}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="fgPromotion.controls.name.invalid">{{getErrorFieldScope()}}</mat-error>
              </mat-form-field>
            </td>
            <td>
              <label>Loại Khuyến Mại (*)</label>
            </td>
            <td>
              <mat-form-field>
                <mat-select [(value)]="arrType && arrType[0] ? arrType[0] : defaultSelectd" formControlName="type" (selectionChange)="actionSelectedType($event.value)">
                  <mat-option *ngFor="let type of arrType; let i = index" [value]="type">
                    {{type == 'TOTAL_MONEY' ? 'Tổng Tiền' : 'Số Lượng Mua'}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="fgPromotion.controls.name.invalid">{{getErrorFieldType()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td *ngIf="isAppliedTotalMoney">
              <label>Tổng Tiền Áp Dụng (>=)</label>
            </td>
            <td *ngIf="isAppliedTotalMoney">
              <mat-form-field>
                <input type="number" matInput placeholder="" formControlName="minimumMoney">
                <mat-error *ngIf="fgPromotion.controls.name.invalid">{{getErrorMinimumMoney()}}</mat-error>
              </mat-form-field>
            </td>
            <td *ngIf="!isAppliedTotalMoney">
              <label>Tổng Sản Phẩm Áp dụng (>=)</label>
            </td>
            <td *ngIf="!isAppliedTotalMoney">
              <mat-form-field>
                <input type="number" matInput placeholder="" formControlName="minimumQuantity">
                <mat-error *ngIf="fgPromotion.controls.name.invalid">{{getErrorMinimumQuantity()}}</mat-error>
              </mat-form-field>
            </td>
            <td>
              <label>Phần Trăm Giảm (%)</label>
            </td>
            <td>
              <mat-form-field>
                <input type="number" matInput placeholder="" formControlName="reducedPercent">
                <mat-error *ngIf="fgPromotion.controls.name.invalid">{{getErrorReducedPercent()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <label>Sản phẩm tặng kèm
                <mat-icon style="color: green; cursor: pointer;" matTooltip="Chọn Sản phẩm" (click)="iconAddDonatedProductClicked()">add_box</mat-icon>
              </label>
            </td>
            <td colspan="4">
              <div class="tag">
                <a href="javascript:void(0);" *ngFor="let donatedProduct of arrDonatedProduct; let i = index" matTooltip="Click để Xóa" matTooltipPosition="above"
                  (click)="deleteDonatedProduct(i)">{{donatedProduct.name}}</a>
              </div>
            </td>
          </tr>
          <tr *ngIf="isAppliedProduct">
            <td>
              <label>Sản phẩm Áp Dụng
                <mat-icon style="color: green; cursor: pointer;" matTooltip="Chọn Sản phẩm" (click)="iconAddAppliedProductClicked()">add_box</mat-icon>
              </label>
            </td>
            <td colspan="4">
              <div class="tag">
                <a href="javascript:void(0);" *ngFor="let appliedProduct of arrAppliedProduct; let i = index" matTooltip="Click để Xóa" matTooltipPosition="above"
                  (click)="deleteAppliedProduct(i)">{{appliedProduct.name}}</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label>Ngày Bắt Đầu (*)</label>
            </td>
            <td>
              <mat-form-field>
                <input matInput [matDatepicker]="startedDate" formControlName="startedDate">
                <mat-datepicker-toggle matSuffix [for]="startedDate"></mat-datepicker-toggle>
                <mat-datepicker #startedDate></mat-datepicker>
                <mat-error *ngIf="fgPromotion.controls.name.invalid">{{getErrorFieldStartedDate()}}</mat-error>
              </mat-form-field>
            </td>
            <td>
              <label>Ngày Kết Thúc (*)</label>
            </td>
            <td>
              <mat-form-field>
                <input matInput [matDatepicker]="endedDate" formControlName="endedDate">
                <mat-datepicker-toggle matSuffix [for]="endedDate"></mat-datepicker-toggle>
                <mat-datepicker #endedDate></mat-datepicker>
                <mat-error *ngIf="fgPromotion.controls.name.invalid">{{getErrorFieldEndedDate()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>
              <label>Mô Tả Ngắn</label>
            </td>
            <td colspan="2">
              <mat-form-field hintLabel="Max 500 characters" style="width: 600px">
                <textarea matInput type="text" formControlName="description"></textarea>
                <mat-error *ngIf="fgPromotion.controls.description.invalid">{{getErrorFieldDescription()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-icon matTooltip="Upload Ảnh đại diện" matTooltipPosition="below" (click)="imgFileInput.click()" style="color: green; cursor: pointer;">image</mat-icon>
              <input hidden accept="image/*" type="file" #imgFileInput (change)="fileChangeEvent($event)" name="file">
            </td>
            <td>
              <div class="upload-img" style="position: relative">
                <img *ngIf="imageCover" [src]="imageCover" />
                <div class="remove" *ngIf="imageCover">
                  <button matTooltip="Xóa ảnh" matTooltipPosition="below" (click)="removeImage()">
                    <mat-icon>clear</mat-icon>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="user-action">
        <button (click)="insertNewPromotion()">ADD</button>
        <button>RESET</button>
      </div>
    </form>
  </div>
</div>