.emp-component {
    .top{
        border: 1px solid #ddd;
        height: 60px;
        .title{
            float: left;
            h4{
                padding-left: 20px;
            }
        }
    }
    .main{
        .main-table{
            // max-height: 600px;
            // overflow: auto;

           
            table{
                mat-form-field{
                    width: 300px;
                }
                td{
                    padding-left: 20px;
                    padding-bottom: 20px; 
                    max-width: 400px;
                }

                .product-tag{
                    color: rgb(29, 27, 27);
                    border: 1px solid #d0d0d0;
                    border-radius: 8px;
                    margin-left: 10px;
                    font-size: 20px;
                    background-color: #d0d0d0;
                    mat-icon{
                        color: red;
                        cursor: pointer;
                    }
                }
                .upload-img{
                    float: left;
                    width: 300px;
                    height: 200px;
                    margin-bottom: 20px;
                    img{
                        border-radius: 4px;
                        width: 100%;
                        height: 100%;
                    }
                    .remove{
                        position: absolute;
                        top:0; 
                        right:0;
                        width: 300px;
                        height: 200px;
                        display:none;
                        button{
                            margin-left:90%;
                            background-color: Transparent;
                            background-repeat:no-repeat;
                            border: none;
                            cursor:pointer;
                            overflow: hidden;
                            outline:none;
                            position: relative;
                            text-align: center;
                            mat-icon{
                                color: red;
                            }
                        }
                    }
                    &:hover{
                        .remove{
                            display: block;
                            background: rgba(132,132,132, 0.5);
                        }
                    }
                    
                }
            }

        
        }
        .user-action{
            margin: 30px 0 30px 0;
            padding-left: 100px;
            clear: left;
            button{
                 width: 100px;
                 height: 33px;
                 font-size: 14px;
                 font-weight: 500;
                 border-radius: 20px;
                 background-color: #26a69a;
                 color: #fff;
                 opacity: 1%;
                 margin: 0 4px;
                 border-color: #26a69a;
                 border: none;
                 cursor: pointer;
                 &:hover{
                     background-color: #0f5a52;
                }
            }
            p{
                color: red;
            }
        }
    }
}