<div class="emp-component">
  <div class="top">
    <div class="title">
      <h4>Tạo mới Nhân viên</h4>
    </div>
  </div>
  <div class="main">
    <form [formGroup]="fgEmployee"  #f="ngForm">
      <div class="person-infomation">
        <div class="base-information">
          <div class="title">
            <p>
              1. Thông tin cơ bản
            </p>
          </div>

          <div class="content-input">

            <mat-form-field>
              <input matInput placeholder="Họ và tên" required formControlName="fullname">
              <mat-error *ngIf="email.invalid">{{getErrorFieldFullname()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Số chứng minh" required formControlName="gen">
              <mat-error *ngIf="email.invalid">{{getErrorFieldGen()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Tài khoản đăng nhập" required formControlName="username">
              <mat-error *ngIf="email.invalid">{{getErrorFieldUsername()}}</mat-error>
            </mat-form-field>

            <br>

            <mat-form-field>
              <input matInput placeholder="Email" required formControlName="email">
              <mat-error *ngIf="email.invalid">{{getErrorFieldEmail()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Vị trí - Chức vụ" formControlName="role">
                <mat-option *ngFor="let role of arrRole" [value]="role">
                  {{role.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="dateWorking" placeholder="Ngày bắt đầu làm việc" formControlName="dateWorking">
              <mat-datepicker-toggle matSuffix [for]="dateWorking"></mat-datepicker-toggle>
              <mat-datepicker #dateWorking></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="address-phone-social">
          <div class="Title">
            <p>2. Thông tin liên lạc</p>
          </div>
          <div class="content-input">
            <p>2.1. Địa chỉ</p>
            <div formGroupName="address">
              <mat-form-field>
                <mat-select placeholder="Thành phố" formControlName="province" (selectionChange)="provinceChange($event.value)">
                  <mat-option *ngFor="let province of arrProvince" [value]="province">
                    {{province.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Quận - Huyện" formControlName="district" (selectionChange)="districtChange($event.value)">
                  <mat-option *ngFor="let district of arrDistrict" [value]="district">
                    {{district.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="Thôn - Xóm" formControlName="ward">
                  <mat-option *ngFor="let ward of arrWard" [value]="ward">
                    {{ward.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Số nhà" formControlName="detail">
              </mat-form-field>
            </div>

            <p>2.2.Số điện thoại/ Địa chỉ Facebook</p>
            <mat-form-field>
              <input matInput placeholder="Số điện thoại" formControlName="phoneNumber">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Địa chỉ facebook" formControlName="facebookPage">
            </mat-form-field>
          </div>
        </div>

        <div class="salary" formGroupName="salary">
          <div class="Title">
            <p>3. Lương</p>
          </div>
          <div class="content-input">
            <mat-form-field>
              <input matInput type="number" placeholder="Lương cơ bản" required formControlName="baseSalary">
              <mat-error *ngIf="email.invalid">{{getErrorFieldBaseSalary()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="Trợ cấp vị trí" formControlName="positionSalary">
              <mat-error *ngIf="email.invalid">{{getErrorFieldPositionSalary()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="Hỗ trợ thêm" formControlName="allowanceSalary">
              <mat-error *ngIf="email.invalid">{{getErrorFieldAllowanceSalary()}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="user-action">
          <button (click)="actionInsertEmployee()">Lưu thông tin</button>
          <button>Reset Form</button>
        </div>
      </div>
    </form>
  </div>
</div>