<div class="emp-component">
  <div class="top">
    <div class="title">
      <h4>Danh sách Role</h4>
    </div>
  </div>
  <div class="main">
    <div class="main-table">
      <table>
        <tr>
          <th class="stt">STT</th>
          <th class="name">Tên</th>
          <th class="description">Mô tả chi tiết</th>
        </tr>
        <tr *ngFor="let role of arrRole; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{role.name}}</td>
          <td>
            <tr *ngFor="let tmp of role.description; let i = index">
              <td style="border: none"> - {{tmp}}</td>
            </tr>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>