.top{
    margin-top: 10px;
    border: 1px solid #ddd;
    height: 60px;
    .title{
        float: left;
        h4{
            padding-left: 20px;
        }
    }
}
.main{
    margin-top: 5px;
    .main-table{
        
        padding: 20px;
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;

            th{
                background-color: rgb(156, 146, 146);
            }

            td, th{
                border: 1px solid #333;
                text-align: center;
                padding: 8px;
            }
            
            tr:nth-child(even) {
                background-color: #fff;
            }

            .stt{
                width: 5%;
            }

            .name{
                width: 25%;
            }

            .description{
                width: 70%;
            }
        }
       
      

        td button{
            background-color: Transparent;
            background-repeat:no-repeat;
            max-width: 30px;
            border: none;
            cursor:pointer;
            overflow: hidden;
            outline:none;
            height: 35px;
            position: relative;
            width: 100%;
            text-align: left;
            padding-bottom: 0px;
            margin-bottom: 10px;
            margin-right: 5px;
            &:hover{
                .icon-view-detail{
                    color: red;
                }
            }
           
            &:hover{
                .icon-edit{
                    color: #0ce71eea;
                }
            }
        }
    }
}