<div class="emp-component">
  <div class="top">
    <div class="title">
      <h4>Danh sách Nhân viên</h4>
    </div>
  </div>
  <div class="main">
    <div class="main-table">
      <table>
        <tr>
          <th>STT</th>
          <th>Tên</th>
          <th>Mô tả chi tiết</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Supper_ADMIN</td>
          <td>FULL PERMISSION</td>
        </tr>
        <tr>
          <td>2</td>
          <td>ADMIN</td>
          <td> Chưa xác định </td>
        </tr>
        <tr>
          <td>3</td>
          <td> STOCKER</td>
          <td>
            <tr>
              <td>- Thêm sản phẩm</td>
            </tr>
            <tr>
              <td>- Thêm sản phẩm</td>
            </tr>
            <tr>
              <td>- Thêm sản phẩm</td>
            </tr>
            <tr>
              <td>- Thêm sản phẩm</td>
            </tr>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td> ACCOUNTANT</td>
          <td>
            <tr>
              <td>- Thêm sản phẩm</td>
            </tr>
            <tr>
              <td>- Thêm sản phẩm</td>
            </tr>
            <tr>
              <td>- Thêm sản phẩm</td>
            </tr>
            <tr>
              <td>- Thêm sản phẩm</td>
            </tr>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>